services:
  code-server:
    image: cwj3688/code-server-hol3
    container_name: code-server-hol3
    restart: always
    ports:
      - "3000:3000"
      - "80:8080"
    volumes:
      - /home/ubuntu/project:/home/coder/project
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/ubuntu/.scp:/home/coder/.scp
      - /home/ubuntu/.scpconf:/home/coder/.scpconf
      - /home/ubuntu/.kube:/home/coder/.kube
      - /home/ubuntu/.config:/home/coder/.config
      - /home/ubuntu/.local:/home/coder/.local
    environment:
      # - PASSWORD=admin12345!!
      - PASSWORD=${PASSWORD}
    command: /home/coder/project
    # command: --auth none /home/coder/project
    group_add:
      # - $(shell getent group docker | cut -d: -f3)
      - ${DOCKER_GID}